/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #98e2ff;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100%;
}

ol, ul,li {
    list-style: none;
}


a{
    text-decoration: none;
    color: var(--cor-de-link);
   
}



/*Sección Menu*/

.menu{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 0.4rem;
    color: #F5F5F5;
    background-color: rgb(4, 98, 206);
    align-items:center; 
    
}

 section nav {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: flex-end;
    gap: 3rem;

 }
 .menu__list {
    display: flex;
    flex-direction:row;
    gap: 1rem;
 }
 .menu__header {
    display: flex;
    flex-direction:row;
 }

 .menu__list__item a{
    display: none;
    color: rgb(201, 219, 255);
    white-space:nowrap;

 }
.menu__list__item a:hover {
    color:rgb(193, 251, 255);
    font-weight: bold;
}

.menu__list__item__contato a{
    color: rgb(81, 206, 255);
}
.menu__list__item__contato a:hover {
    color: rgb(39, 39, 39);
}
/*Sección Title*/

section.title{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-content: center;
    margin: 2em;
}
.title__div {
    margin: 0.5rem 6rem;;
}
.title__profile {
    width: 10em;
    border-radius: 200px;
}
.title__container {
    margin: 1em;
}
.title__network {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    gap:1rem;
}
.title__network__item a{
    color:darkolivegreen;
    background-color: rgb(248, 248, 248);
    padding: 4px;
}
.title__network__item a:hover{
    background-color: rgb(201, 201, 201);
    padding: 4px;
    border-radius: 4px;
}

.title__div {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
}
/*Sección About*/

section.about{
    padding: 2rem 8rem;
    background-color: #EAF2FD;
}

/*Sección Skills*/
section.skills{
    text-align: center;

}
.skills__title, .academic__title, .hobbies__title , .experience__section__title, .formcontato__title{
    font-size: 2em;
    margin-top: 1em;
}
.skills__line, .hobbies__line{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 1rem;
}

.skills__box , .hobbies__box{
    position: relative;
    background-color: #EAF2FD;
    border-radius: 1px;
    width: 10em;
    height: 10em;
    padding: 0.2em;
}
.skills__box:hover ,.hobbies__box:hover{
    background-color: #929292;
}
.skills__box ul, .hobbies__box ul{
    position: absolute;
    bottom: 1em;
}
.skills__img , .hobbies__img{
    width: 1rem;
}
.skills__name, .hobbies__name {
    font-weight: bold;
    margin-top: 1em;
}
/*Sección Hobbies*/

section.hobbies{
    text-align: center;
    margin-bottom: 5em;

}

/* Experiencia Académica*/

section.academic{
    text-align: center;
    background-color: #EAF2FD;
    padding: 1rem;
}
.academic__courses {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.academic__courses__box {
    width:33%;
    text-align: left;
}
.academic__courses__item__img {
    background-color: #F5F5F5;
    padding: 1em;
    width: 100%;
    position: relative;
}
.academic__courses__item__img img{
    width: 90%;
    margin: auto;
    display: block;
}
/* experiencia*/

section.experience{
    width: 100%;
}

.experience__section__title {
    text-align: center;
}
.experiencie__box {
    display: flex;
    gap: 1rem;
    padding: 3rem;    
    justify-content: center;
    flex-direction:row;
}
.experiencie__box:nth-child(odd) { 
    flex-direction: row-reverse;
}

.experience__description {
    display: flex;
    flex-direction:row;
    gap:10px;
}
.experience__img {
    width:40%;
}
.experience__title {
    font-weight:bolder;
    font-size: 1.1em;
}
.experience__text {
    font-size: 1em;
    font-weight: normal;
}

.experiencia__botao--repo, .experience__botao--demo {
    border: 1px solid #2A7AE4;
    width: 116px;
    height: 51px;
    padding: 0.8em;
    background-color: #FFF;
    cursor: pointer;
    color:#2A7AE4;
}
.experience__botao--demo {
    background-color: #2A7AE4;
    border: 1px solid #FFF;
    color: #FFF;

}
.experiencia__botao--repo:hover, .experience__botao--demo:hover {
    color:#FFF;
    background-color: var(--cor-de-link);
}
/*Contacto*/

.formcontato__contacto{
    display: flex;
    background-color: #EAF2FD;
    padding: 5em;
    gap: 1em;
}
.formcontato__img {
    width: 100%;
}
.formcontato__text {
    display: flex;
    flex-direction: column;
}
.formcontato__title {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.formcontato__subtext {
    font-size: 1em;
    font-weight: normal;
}
.formcontato__form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 1em;
}
.formcontato__input {
    border:none;
    padding: 1em;
    border-bottom: 2px solid #EAF2FD;
}
.formcontato__input:hover {
    border:none;
    border-bottom: 2px solid #2A7AE4;    
}
.formcontato__textarea {
    border:none;
    padding: 1em;
    border-bottom: 2px solid #EAF2FD;
    resize: none;
}
.formcontato__textarea:hover {
    border:none;
    border-bottom: 2px solid #2A7AE4;    
}
.formcontato__botao {
    border: 1px solid #2A7AE4;
    width: 116px;
    height: 51px;
    padding: 0.8em;
    cursor: pointer;
    background-color: #2A7AE4;
    border: 1px solid #FFF;
    color: #FFF;  
}
.formcontato__botao:hover {
    color:#FFF;
    background-color: var(--cor-de-link);
}
/*footeer*/

section.footer{
    width: 100%;
    background-color: var(--cor-de-fundo);
    color:gray;
}
.footer__rodape {
    text-align: center;
    padding: 5px;
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {


/* Menú */
.menu__list__item a{
    display:block;
}
.menu__list__item__contato a{
    display: none;
    font-weight: bold;
}
/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}



@media (max-width: 768px) {

    .skills__title, .academic__title, .hobbies__title , .experience__section__title, .formcontato__title{
        font-size: 1.6em;
        margin-top: 0.9em;
    }
    /*Hobbies*/
 .hobbies__line, .skills__line {
    flex-direction: column;
    gap: 1em;
    flex-flow: row wrap;
 }
.hobbies__box , .skills__box{
    width: 10em;
    height: 10em;
}

/* Title */
.title__container, .title {
    margin: 0.5em;
}
.title__bio {
    font-size:1.5em;
}
.title__subsection {
    font-size: 0.8em;
    font-weight: normal;
}
.title__div {
    margin: 0.1rem 0.1rem;
}
.title__profile {
    width: 5em;
    border-radius: 200px;
}

.experiencie__box {
    align-self: start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;    
}
.experiencie__box:nth-child(odd) {
    flex-direction: column;
}    
.experience__title {
    font-size: 0.8em;
}
.experience__text {
    font-size: 0.8em;
}
.experience__botao--demo, .experiencia__botao--repo {
    font-size: 0.8em;
    width: 108px;
    height: 40px;
    padding: 0.5em;
}
.experience__img {
    width: 90%;;
}
.experience__description {
    flex-direction: flex-start;
}
.formcontato__img {
    display:none;
}
.formcontato__contacto {
    padding: 1.5em;
}
}


/*Mobile*/
@media (max-width: 425px) {

    .skills__title, .academic__title, .hobbies__title , .experience__section__title, .formcontato__title{
        font-size: 1.2em;
        margin-top: 0.6em;
    }
    /*Menu*/
    /*Titulo*/
    .title__container, .title {
        margin: 0;
    }
    .title__bio {
        font-size:1em;
    }
    .title__subsection {
        font-size: 0.8em;
        font-weight: normal;
    }
    .title__div {
        margin: 0.1rem 0.1rem;
        flex-direction: column;
    }
    .title__profile {
        width: 5em;
        border-radius: 200px;
    }
    .title__network {
        justify-content: space-between;
        align-content:center
    }
    .title__network__item {
        font-size: 0.8em;
    }
    .title__network a {
        display: inline;
        flex-wrap: nowrap;
   
    }
    .title__network__item img {
        width: 0.6em;
    }
    /*Sección sobre mi*/
    
    section.about{
        padding: 2em;
    }        
    /*Skills*/
    
    /*Hobbies*/
    
    .hobbies__box, .skills__box {
        width: 8em;
        height: 8em;
    }
    
     /*Formación Académica*/
    .academic__courses {
        flex-direction: column;
        gap: 2em;
    }
    .academic__courses__box {
        width: 80%;
    }
    /*Experiencia Profesional*/
    .experience__botao--demo, .experiencia__botao--repo {
        font-size: 0.8em;
        width: 96px;
        height: 40px;
        padding: 0.5em;
    }
     /*Contacto*/
     .formcontato__contacto {
        padding:0.1em;
    }
    /*Footer*/
    
    }